@model  MVC_day2_task1_the_lab_one.View_Model.InstructorModelViewBylistOfDep_Crs
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Instructor</h1>
<form method="post" action="/Instructor/SaveEdit">
    <input type="hidden" name="Id" value="@Model.Id" />


    <div>
        <label>Name</label>
        <input class="form form-control" name="Name" value="@Model.Name" id="Name" />
    </div>
    <div>
        <label>Address</label>
        <input class="form form-control" name="address" value="@Model.address" id="Address" />
    </div>
    <div>
        <label>Image</label>
        <input class="form form-control" name="image_url" value="@Model.image_url" id="Image" />
    </div>
    <div>
        <label>Salary</label>
        <input class="form form-control" name="salary" value="@Model.salary" id="Salary" />
    </div>

    <div>
        <label>Course</label>
        <select class="form form-control" name="CourseID">
            @foreach (var course in Model.Courses)
            {
                if (Model.CourseID == course.Id)
                {
                    <option value="@course.Id" selected>@course.Name</option>
                }
                else
                {
                    <option value="@course.Id">@course.Name</option>
                }
            }
        </select>
    </div>
    <div>
        <label>Department</label>
        <select class="form form-control" name="DepartmentId">
            @foreach (var deptItem in Model.Departments)
            {
                if (Model.DepartmentId == deptItem.Id)
                {
                    <option value="@deptItem.Id" selected>@deptItem.Name</option>
                }
                else
                {
                    <option value="@deptItem.Id">@deptItem.Name</option>
                }
            }
        </select>
    </div>
    <br />
    <div>
        <input type="submit" value="Edit" class="btn btn-success" />
    </div>

</form>
<hr />
<a class="btn btn-outline-primary" href="/Instructor/index">All Instructors</a>

